/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
.env.example
.gitattributes
app/
artisan
bootstrap/
composer.json
composer.lock
composer.phar
config/
database/
package.json
phpunit.xml
public/
readme.md
resources/
routes/
server.php
storage/
tests/
webpack.mix.js
