header{
  display: flex;
  background-color: rgb(240,240,240);
  align-items: center;
  justify-content: space-between;
  border: 1px solid grey;
  box-shadow: -2px 7px 5px -5px rgba(0,0,0,0.75);
}
.boutonCouleur{
  box-shadow: -2px 7px 5px -5px rgba(0,0,0,0.75);
}
.maDiv{
  display: flex;
}
.maDiv2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}
.maList{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  flex-basis: 40%;
  padding-right: 10px;
  flex-direction: row;
}
.maList li{
  width: 100%;
  font-size: 20px;
}
.maList a{
  text-decoration: none;
}
h2{
  flex-basis: 60%;
  font-family: cursive;
  text-shadow: 2px 2px 2px;
  color: rgb(150,0,0);
  margin: 0;
  padding-left: 10px;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
}
.container{
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image:
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: rgb(240,240,240);
  border: 1px solid grey;
  box-shadow: -2px -7px 5px -5px rgba(0,0,0,0.75);
  margin: 0;
}
.monP{
  padding-left: 10px;
}
.monLien{
  padding-right: 10px;
}
table#product-table{
  text-align: center;
  border: 2px solid black;
  background-color: white;
}
table#product-table td{
  border: 1px solid black;
}
table#product-table th{
  border: 2px solid black;
}
.divB{
  background-color: white;
  border: 2px solid black;
  padding: 10px;

}
@media screen and (min-width: 850px) {
  body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url("/img/index.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 850px) {
  header{
    display: flex;
    background-color: rgb(240,240,240);
    align-items: center;
    justify-content: space-between;
    border: 1px solid grey;
    box-shadow: -2px 7px 5px -5px rgba(0,0,0,0.75);
  }
  .maDiv{
    display: flex;
  }
  .maList{
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    flex-basis: 40%;
    padding-right: 10px;
    flex-direction: column;
  }
  .maList li{
    width: 100%;
    font-size: 20px;
  }
  .maList a{
    text-decoration: none;
  }
  h2{
    flex-basis: 60%;
    font-family: cursive;
    text-shadow: 2px 2px 2px;
    color: rgb(150,0,0);
    margin: 0;
    padding-left: 10px;
  }
  body{
    display: flex;
    flex-direction: column;
    margin: 0;
    /*background-image: url("/img/index.jpeg");
    background-repeat: no-repeat;
    background-size: cover;*/
  }
  .container{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(240,240,240);
    border: 1px solid grey;
    box-shadow: -2px -7px 5px -5px rgba(0,0,0,0.75);
    margin: 0;
  }
  .monP{
    padding-left: 10px;
  }
  .monLien{
    padding-right: 10px;
  }
  table#product-table{
    text-align: center;
    border: 2px solid black;
    background-color: white;
  }
  table#product-table td{
    border: 1px solid black;
  }
  table#product-table th{
    border: 2px solid black;
  }
  .divB{
    background-color: white;
    border: 2px solid black;
    padding: 10px;
  }
  .monText{
    max-width: 335px;
  }
}
